/**************************************************************
Styling for login page
***************************************************************/

/**************************************************************
Media Query directed towards mobile users
***************************************************************/
@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      height: 100%;
    }

    #root > div {
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
    }

    #root > div > nav{
      padding: 1em;
      margin: 1em;
    }
  }

/**************************************************************
Styling for login form container
***************************************************************/
  .Login{
    padding: 1em;
    margin: 1em;
  }