/**************************************************************
Styling for new notes page
***************************************************************/

/**************************************************************
Styling for new notes creation wrapper
***************************************************************/
.NewNote form {
    padding-bottom: 15px;
  }
  
/**************************************************************
Styling for new notes text
***************************************************************/
  .NewNote form textarea {
    height: 300px;
    font-size: 24px;
  }