/**************************************************************
CSS for NOTES page
***************************************************************/

/**************************************************************
Styling for notes wrapper
***************************************************************/
.Notes form {
    padding-bottom: 15px;
  }
  
/**************************************************************
Styling for add a note text area
***************************************************************/
  .Notes form textarea {
    height: 300px;
    font-size: 24px;
  }

/**************************************************************
Styling for note wrapper , adding margin & padding for seperation
***************************************************************/
  #root > div > div{
     padding: 1em;
     margin:1em;
  }

