
.container{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.secondary{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tritery{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-style: italic;
    padding: 1em;
    margin: 1em;
}
.control {
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
}