/**************************************************************
CSS for main app frame
***************************************************************/

/**************************************************************
Styling for Main frame holding the content of app
***************************************************************/
.App {
  margin-top: 15px;
}

/**************************************************************
Styling for MML text on nav bar
***************************************************************/
.App .navbar-brand {
  font-weight: bold;

}

/**************************************************************
Styling for Main frame holding the content of app
***************************************************************/
#root > div > div {
  background: #fff;
  border-radius: 16px;

}

/**************************************************************
Styling for nav bar
***************************************************************/
.navbar{
  margin: 1em;
}

