/**************************************************************
CSS for index page
***************************************************************/

/**************************************************************
Styling for Main body in the frame
***************************************************************/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**************************************************************
Styling for headers
***************************************************************/
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
}

/**************************************************************
Styling for code fragments
***************************************************************/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**************************************************************
Styling for text inputs
***************************************************************/
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
